/* /* img.parallax{
    position: absolute;
    z-index: -2px;
    width: 100%;
    color: brown;
} */

.parallax {
    /* The image used */
    background-image: url("../../Images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 