/* .App{
    background-image: url("../Images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg") ;
    background-repeat: no-repeat;
  background-size: cover;
} */


.background{
    background-image: url("../Images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg") ;
    background-repeat: no-repeat;
  background-size: cover;
}
