.myinfo{
  /* position: relative; */
    margin-top: 0;
    flex-wrap: wrap;
    /* margin-left: 100px; */
    background-color: rgb(226, 226, 226);
}



img.responsive-img{
  width: 350px;
  height: 250px;
  color: #111;
  border-radius: 50%;
  text-align: center;
  font-size: 90px;
  float: left;
  /* shape-outside: ellipse(); */
  padding: 10px;
  /* background-color: MediumPurple; */
  /* background-clip: content-box; */
  

    
}
@media only screen and (max-width: 600px) {
  img.responsive-img {
    height: 70%;
    width:100%;
   
  }
}
#infocard{
    /* display: flex;
    justify-content: center; */
    width:90%;
    height: 100;
    padding: 10px;
    /* flex-wrap: wrap; */
    margin-left: 6.5%;
    margin-top: 0;
    margin-bottom: 0px;
   border: transparent;
    
}
.aboutMe{
  text-align: justify;
}